In [11]:
m=[]
for i in range(2500,3201,1):
  if ((i % 7 == 0) & (i % 5 != 0)):
    m.append(i)
for i in m:
  print(i,end =',')

2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [12]:
a= input("Enter the first name ")
b= input("Enter the last name ")
print(b,a)

Enter the first nameTeja
Enter the last namekoduri
koduri Teja

In [23]:
diameter = 12
radius = diameter/2
Volume = (4/3)* 3.14 * radius**3
print(Volume)

904.3199999999999

In [22]:
comma_separated = input("Enter the values with comma seperation ")
l=[]
for k in comma_separated:
  if k != ',':
    l.append(k)
print(l)

Enter the values with comma seperation2,3,4
['2', '3', '4']

In [35]:
for i in range(0,5):
  for j in range(i):
    print('*',end = " ")
  print('')
for i in range(3,0,-1):
  for j in range(i,0,-1):
    print("*",end = " ")
  print('')

*
* *
* * *
* * * *
* * *
* *
*

In [42]:
input_word = input("Enter the word ")
b= len(input_word)
for i in range(b,0,-1):
  print(input_word[i-1],end ="")

Enter the word teja
ajet

In [43]:
print("WE, THE PEOPLE OF INDIA,\n\thaving solemnly resolved to constitute India into a SOVEREIGN, !\n\t\tSOCIALIST, SECULAR, DEMOCRATIC REPUBLIC\n\t\t and to secure to all its citizens")

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN, !
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		 and to secure to all its citizens